@font-face {
  font-family: "Bright";
  src: url("./assets/fonts/brightdemo-axvxe-webfont.woff2") format("woff2"),
    url("./assets/fonts/brightdemo-axvxe-webfont.woff") format("woff");
}
@font-face {
  font-family: "Abstract";
  src: url("./assets/fonts/abstractgroovy-k7zdy-webfont.woff2") format("woff2"),
    url("./assets/fonts/abstractgroovy-k7zdy-webfont.woff") format("woff");
}
@media screen and (max-width: 800px) {
  .intro {
    width: 100%;
    margin-top: -35%;
    position: inherit;
  }
}
body::-webkit-scrollbar {
  display: none;
}

/* app.js */
.App {
  font-family: "Bright", cursive;
  text-align: center;
  min-height: 100vh;
}

/* nav */
.header {
  background-color: #da2b42;
  font-family: "Bright", cursive;
}
.B {
  height: 8vh;
}
.headerlinks a {
  color: #fefddb;
  font-size: 5vh;
}
.headerlinks a:visited {
  color: #fefddb;
}
.headerlinks a:hover {
  color: #fb9500;
}

/* homepage */
.name {
  padding-top: 30vh;
  margin: 0 auto;
  font-size: 30vh;
  color: #82363A;
  margin-top: -25%;
  width: 100%;
  position: relative;
  text-shadow: 2px 2px #FDFCDB;
}
.tagline {
  margin: 0 auto;
  font-size: 8vh;
  color: #82363A;
  width: 60%;
  text-shadow: 2px 2px #FDFCDB;
}
.intro {
  display: flex;
  flex-wrap: wrap;
}

/* projects */
.projects{
  margin-top: 20%;
}
.project-title{
  color: #82363A;
  text-shadow: 2px 2px #FDFCDB;
  font-size: 25vh;
}
.videos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.koru{
  display: flex;
  flex-direction: column;
}
.koru-video {
  height: 50vh;
  padding: 3vh;
}
.koru-title{
  margin: 0 auto;
  background: #FDFCDB;
  border-radius: 100px;
  width: 30vh;
  color: #EF8C98;
  font-size: 7vh;
  border: 2vh solid #82363A;
  text-shadow: 1px 1px #DB4142;
  padding-top: 1vh;
}
.koru-button{
  color: #EF8C98;
  background: #FDFCDB;
  box-shadow: 0px 0px 0px transparent;
  border: 10px solid #82363A;
  text-shadow: 0.5px 0.5px #DB4142;
  font-size: 3vh;
  border-radius: 100px;
}
.koru-button:hover{
  color: #FDFCDB;
  background: #DB4142;
  box-shadow: 0px 0px 0px transparent;
  border: 10px solid #82363A;
  text-shadow: 1px 1px black;
}
button:active {
  outline: none;
  border: none;
}
button:focus {
  outline: none !important;
  outline-offset: none !important;
}
.pokemon{
  display: flex;
  flex-direction: column;
}
.pokemon-video {
  padding: 3vh;
  height: 50vh;
}
.pokemon-title{
  margin: 0 auto;
  background: #FDFCDB;
  border-radius: 100px;
  width: 70vh;
  color: #EF8C98;
  font-size: 7vh;
  border: 2vh solid #82363A;
  text-shadow: 1px 1px #DB4142;
  padding-top: 1vh;
}
.poke-button{
  color: #EF8C98;
  background: #FDFCDB;
  box-shadow: 0px 0px 0px transparent;
  border: 10px solid #82363A;
  text-shadow: 0.5px 0.5px #DB4142;
  font-size: 3vh;
  border-radius: 100px;
}
.poke-button:hover{
  color: #FDFCDB;
  background: #DB4142;
  box-shadow: 0px 0px 0px transparent;
  border: 10px solid #82363A;
  text-shadow: 1px 1px black;
}
.ehub{
  display: flex;
  flex-direction: column;
}
.ehub-video {
  padding: 3vh;
  height: 50vh;
}
.ehub-title{
  margin: 0 auto;
  background: #FDFCDB;
  border-radius: 100px;
  width: 30vh;
  color: #EF8C98;
  font-size: 7vh;
  border: 2vh solid #82363A;
  text-shadow: 1px 1px #DB4142;
  padding-top: 1vh;
}
.ehub-button{
  color: #EF8C98;
  background: #FDFCDB;
  box-shadow: 0px 0px 0px transparent;
  border: 10px solid #82363A;
  text-shadow: 0.5px 0.5px #DB4142;
  font-size: 3vh;
  border-radius: 100px;
}
.ehub-button:hover{
  color: #FDFCDB;
  background: #DB4142;
  box-shadow: 0px 0px 0px transparent;
  border: 10px solid #82363A;
  text-shadow: 1px 1px black;
}
.modal-backdrop {
  background-color: #EF8C98;
}
.modal-content{
  font-family: "Abstract", cursive;
  background-color: #EF8C98;
  font-size: 3vh;
  text-align: center;
  font-weight: 100;
}
.modal-title{
  font-size: 10vh;
}

/* about */
.about{
  margin-top: 20%;
}
.about-title{
  color: #82363A;
  text-shadow: 2px 2px #FDFCDB;
  font-size: 25vh;
}
.me{
  width: 30vw;
  border-radius: 60px;
  opacity: 0.8;
  padding: 5vh;
}
.overlay1{
  background-color: #EF8C98;
  margin: 0 auto;
  width: 48vw;
  border-radius: 60px;
  padding: 3vh;
}
.overlay2{
  background-color: #DB4142;
  margin: 0 auto;
  padding-bottom: 5vh;
  padding-top: 5vh;
  width: 40vw;
  border-radius: 60px;
}
.overlay3{
  background-color: #fb9500;
  margin: 0 auto;
  width: 30vw;
  border-radius: 60px;
}
.css-wrap{
  position: relative;
}
.css-name{
  position: absolute;
  top: -40%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FDFCDB;
  text-shadow: 1px 1px #82363A;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.css-wrap:hover .css-name{
  visibility: visible;
  opacity: 1;
}
.css{
  height: 10vh;
}
.js-wrap{
  position: relative;
}
.js-name{
  position: absolute;
  top: -40%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FDFCDB;
  text-shadow: 1px 1px #82363A;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.js-wrap:hover .js-name{
  visibility: visible;
  opacity: 1;
}
.js{
  height: 10vh;
}
.html-wrap{
  position: relative;
}
.html-name{
  position: absolute;
  top: -40%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FDFCDB;
  text-shadow: 1px 1px #82363A;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.html-wrap:hover .html-name{
  visibility: visible;
  opacity: 1;
}
.html{
  height: 10vh;
}
.python-wrap{
  position: relative;
}
.python-name{
  position: absolute;
  top: -40%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FDFCDB;
  text-shadow: 1px 1px #82363A;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.python-wrap:hover .python-name{
  visibility: visible;
  opacity: 1;
}
.python{
  height: 10vh;
}
.react-wrap{
  position: relative;
}
.react-name{
  position: absolute;
  top: -40%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FDFCDB;
  text-shadow: 1px 1px #82363A;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.react-wrap:hover .react-name{
  visibility: visible;
  opacity: 1;
}
.react{
  height: 10vh;
}
.mongo-wrap{
  position: relative;
}
.mongo-name{
  position: absolute;
  top: -40%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FDFCDB;
  text-shadow: 1px 1px #82363A;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.mongo-wrap:hover .mongo-name{
  visibility: visible;
  opacity: 1;
}
.mongo{
  height: 10vh;
}
.skill-list{
  padding: 10vh;
  display: flex;
  align-content: center;
  justify-content: space-between;
}